<!doctype html>

<html>
  <head>
    <title>HouseCounter Web</title>
  </head>
  <body>
    <h1>{{name}} @ {{venue}}</h1>
    <table>
      <tr><th>Average Size</th><td>{{avg}}</td></tr>
      <tr><th>Latest Size</th><td>{{latest}}</td></tr>
    </table>
    <h2>Estimated Needs</h2>
    <table>
      {{#guess}}
      <tr><th>Box Officers</th><td>{{box}}</td></tr>
      <tr><th>Ushers</th><td>{{usher}}</td></tr>
      <tr><th>Sidekicks</th><td>{{side}}</td></tr>
      {{/guess}}
    </table>
    <h2>House Count for Slot</h2>
    <form method=POST action="{{action}}" >
      <table>
        <thead>
          <tr><th>Slot</th><th>Time</th><th>Size</th></tr>
        </thead>
        <tbody>
          {{#shows}}
            <tr><td>{{slot}}</td><td>{{time}}</td><td><input name="show{{idx}}" value="{{count}}"/></td></tr>
          {{/shows}}
        </tbody>
      </table>
      <input type=submit>
    </form>
    
    <a href="{{list}}">Show List</a>
  </body>
</html>